.calendar-container {
  width: 100%;
  font-size: 5px;
	border: 2px solid #111d5e;
	border-radius: 5px;
}

.calendar-header {
  display: flex;
	align-items: center;
  justify-content: space-between;
  background-color: #111d5e;
}

.calendar-month {
  font-weight: 500;
	font-size: 5em;
	color: #ffbd69;
	text-align: center;
	padding: 0.5em 0.25em;
	word-spacing: 5px;
  user-select: none;
}

.calendar-grid {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, auto);
}

.calendar-day {
  font-weight: 600;
  font-size: 2.25em;
  color: #ffbd69;
  background-color: #111d5e;
  border-top: 2px solid #111d5e;
  border-bottom: 2px solid #111d5e;
}

.calendar-cell {
  text-align: center;
	align-self: center;
	letter-spacing: 0.1rem;
	padding: 0.6em 0.25em;
	user-select: none;
}

.calendar-date {
  font-size: 4em;
  height: max-content;
  border: 1px solid lightgray;
  transition: all 0.4s ease-out;
}

div.calendar-date:hover {
  color: #111d5e !important;
  background: rgba(0, 102, 204, 0.281) !important;
}

.calendar-date[notSameMonth] {
  background-color: rgb(173, 173, 173);
  font-size: 4em;
  color: lightgray;
}

.calendar-date[today] {
  color: #06c;
  border: 1px solid #06c !important;
}

.calendar-date[chosen] {
  background-color: #e9a347;
  color: #fff;
}

.arrow {
	position: relative;
  cursor: pointer;
  font-size: 5em;
  color: #4b64ad;
	padding: 0;
  border: none;
  background-color: transparent;
	transition: all .25s ease-out;
}

.arrow-left {
	margin-left: 5%;
}

button.arrow:hover {
	color: #fe346e;
}

.arrow-right {
	margin-right: 5%;
}


